* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);

  --Grayish-Blue-alpha: hsl(229, 8%, 60%, 0.5);
  --Very-Dark-Blue-alpha: hsl(229, 31%, 21%, 0.8);

  --padding-container: 60px 0;
}

img {
  display: block;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--padding-container);
}

.nav {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --padding-container: 0;
}

.nav__figure {
  z-index: 100;
}

.nav__hamburguer {
  z-index: 100;
  width: 30px;
  height: 30px;
  position: relative;
}

.nav__button {
  position: absolute;
  inset: 0;
  margin: auto;
}

.nav__container {
  position: absolute;
  inset: 0;
  padding: 70px 0;
  min-height: 600px;
  background: var(--Very-Dark-Blue-alpha);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translate(100%);
  transition: transform 0.3s;
  z-index: 10;
}

.nav__container--active {
  transform: translate(0);
}

.nav__list {
  width: 90%;
  padding: 0;
  list-style: none;
  padding: 0;
}

.nav__element {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid #fff;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
}

.nav__link--last {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 1rem 0;
}

.nav__social {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2rem;
}

/*Hero*/

.hero__main {
  width: 100%;
  --padding-container: 40px 0 60px;

  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.hero__figure {
  grid-column: 1/4;
  padding: 2rem 0;
  position: relative;
}

.hero__figure::before {
  content: "";
  position: absolute;
  background-color: var(--Soft-Blue);
  width: 60%;
  max-width: 450px;
  bottom: 30px;
  top: 30%;
  right: 0;
  border-radius: 100px 0 0 100px;
  z-index: -1;
}

.hero__img {
  width: 90%;
  margin: 0 auto;
  max-width: 450px;
}

.hero__texts {
  text-align: center;
  grid-column: 2/3;
}

.hero__title {
  font-size: 2rem;
  color: var(--Very-Dark-Blue);
}

.hero__paragraph {
  color: var(--Grayish-Blue);
  line-height: 1.5;
  margin: 1rem 0;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hero__button {
  background-color: var(--Soft-Blue);
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-weight: 500;
  border: 4px;
  box-shadow: -5px 2px 3px var(--Grayish-Blue-alpha);
}

.hero__button--white {
  background-color: #fff;
  color: var(--Grayish-Blue);
}

/*Features*/

.features {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.features__content {
  grid-column: 2/3;
  text-align: center;
}

.features__title {
  font-size: 1.7rem;
  color: var(--Very-Dark-Blue);
}

.features__paragraph {
  line-height: 1.5;
  color: var(--Grayish-Blue);
  margin: 1rem auto 2.5rem;
  max-width: 400px;
}

.features__list {
  padding: 0;
  list-style: none;
}

.features__element {
  border-top: 1.5px solid var(--Grayish-Blue);
}

.features__element:last-child {
  border-bottom: 1.5px solid var(--Grayish-Blue);
}

.features__tab {
  display: inline-block;
  padding: 1.5rem 0;
  text-decoration: none;
  color: var(--Grayish-Blue);
  font-weight: 500;
  border-bottom: 5px solid transparent;

  transition: border-color 0.7s;
}

.features__tab--active {
  border-color: var(--Soft-Red);
}

.features__container {
  grid-column: 1/-1;
  display: grid;
  grid-template-areas: "article";
}

.features__article {
  grid-area: article; /*Esto hara que los tres elementos se sobrepongan*/
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.6;
}

.features__article--active {
  pointer-events: unset;
  opacity: 1;
}

.features__figure {
  padding: 3rem 0;
  position: relative;
}

.features__img {
  width: 80%;
  margin: 0 auto;
  max-width: 450px;
}

.features__figure::before {
  content: "";
  position: absolute;
  background-color: var(--Soft-Blue);
  height: 150px;
  width: 50%;
  max-width: 450px;
  bottom: 0;
  left: 0;
  border-radius: 0 100px 100px 0;
  z-index: -1;
}

.features__texts {
  width: 90%;
  margin: 0 auto;
  margin: 3rem;
  text-align: center;
}

.features__subtitle {
  color: var(--Grayish-Blue);
  font-size: 1.7rem;
}

.features__copy {
  color: var(--Grayish-Blue);
  line-height: 1.5;
  margin-top: 1.2rem;
}

.features__cta {
  display: none;
  margin-top: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: var(--Soft-Blue);
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}

/*Download*/

.download {
  width: 90%;
  text-align: center;
}

.download__title {
  font-size: 1.7rem;
  color: var(--Very-Dark-Blue);
}

.download__paragraph {
  color: var(--Grayish-Blue);
  margin: 1rem auto 2.5rem;
  max-width: 400px;
}

.download__container {
  width: 97%;
  margin: 3rem auto 0;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.download__item {
  box-shadow: 0 3px 6px var(--Grayish-Blue-alpha);
  padding: 2.5rem 0;
  border-radius: 12px;
}

.download__img {
  width: 50%;
  max-width: 120px;
  margin: 0 auto;
}

.download__browser {
  margin-top: 30px;
  color: var(--Very-Dark-Blue);
  font-size: 1.4rem;
}

.download__version {
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 6px dotted var(--Grayish-Blue-alpha);
  color: var(--Grayish-Blue);
  line-height: 1.5;
}

.download__extension {
  display: block;
  width: 90%;
  background-color: var(--Soft-Blue);
  margin: 1.3rem auto 0;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 1rem 0;
}

/*Questions*/

.article {
  width: 90%;
  text-align: center;
}

.article__title {
  font-size: 1.7rem;
  color: var(--Very-Dark-Blue);
}

.article__arrow {
  transition: transform 0.3s;
}

.article__arrow--rotate {
  transform: rotate(180deg);
  filter: hue-rotate(129deg);
}

.article__paragraph {
  color: var(--Grayish-Blue);
  margin: 1rem auto 2.5rem;
  max-width: 400px;
}

.article__container {
  max-width: 450px;
  margin: 0 auto;
}

.article__question {
  font-size: 1.4rem;
  text-align: left;
  color: var(--Very-Dark-Blue);
  font-weight: 400;
  padding: 1.6rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.article__content {
  display: grid;
  border-bottom: 2px solid var(--Grayish-Blue);
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.article__content--show {
  grid-template-rows: 1fr;
}

.article__show {
  overflow: hidden;
}

.article__answer {
  padding: 1.3rem;
  text-align: left;
  padding-top: 0;
  color: var(--Grayish-Blue);
}

.article__cta {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: var(--Soft-Blue);
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.5rem;
}

/*joined*/

.joined {
  background-color: var(--Soft-Blue);
}

.joined__container {
  max-width: 500px;
  width: 90%;
  color: #fff;
  text-align: center;
}

.joined__paragraph {
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.joined__title {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.joined__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.joined__input,
.joined__submit {
  padding: 1rem;
  font: inherit;
  border-radius: 6px;
  border: none;
}

.joined__submit {
  background-color: var(--Soft-Red);
  color: #fff;
}

/*footer*/

.footer {
  background-color: var(--Very-Dark-Blue);
}

.footer__container {
  width: 90;
  text-align: center;
}

.footer__logo {
  margin: 0 auto;
}

.footer__list {
  padding: 0;
  list-style: none;
  margin: 1.5rem 0;
}

.footer__link {
  display: inline-block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__social {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  place-content: center;
  gap: 2rem;
}

/*Responsive breakpoint 768*/

@media (min-width: 768px) {
  :root {
    --padding-container: 80px 0;
  }

  img {
    display: block;
  }

  .nav__hamburguer {
    display: none;
  }

  .nav__container {
    position: static;
    padding: 0;
    min-height: unset;
    background-color: #fff;
    display: block;
    transform: unset;
    transition: none;
  }

  .nav__list {
    width: unset;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
  }

  .nav__element {
    padding: 0;
    border-top: none;
  }

  .nav__link {
    color: var(--Very-Dark-Blue);
    padding: 0.6rem 0;
  }

  .nav__link--last{
    border: none;
    color: white;
    padding: .6rem 1.5rem;
    background-color: var(--Soft-Red);
    box-shadow: -5px 2px 3px var(--Grayish-Blue);
  }

  .nav__social {
    display: none;
  }

  /*Hero*/

  .hero__main {
    align-items: center;
    grid-template-columns: 5% 1fr 1fr 5%;

  }

  .hero__figure {
    grid-column: span 2/-1;
  }

  .hero__figure::before {
    bottom: 0;
    width: 70%;
    max-width: 450px;
  }

  .hero__img {
    max-width: 500px;
  }

  .hero__texts {
    text-align: left;
    grid-row: 1/2;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__paragraph {
    margin: 1.5rem 0;
  }

  .hero__buttons {
    justify-content: flex-start;
  }

  /*Features*/

  .features {
    grid-template-columns: 5% 1fr 1fr 5%;
  }

  .features__content {
    grid-column: 2/4;
  }

  .features__title {
    font-size: 2.5rem;
  }

  .features__list {
    display: flex ;
    justify-content: center;
    margin: 0 auto;
    width: max-content;
    border-bottom: 2px solid var(--Grayish-Blue-alpha);
  }

  .features__element {
    border-top: none
  }

  .features__element:last-child {
    border-bottom: none; 
  }

  .features__tab {
    padding: 1.5rem;
    position: relative;
    top: 2px;

  }

  .features__article {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 5% 1fr 1fr 5%; 
  }


  .features__figure {
    grid-column: 1/3;
    display: grid;
  }

  .features__img {
    margin: auto;
  }

  .features__figure::before {
    top: 40%;
    height: unset;
    width: 70%;
    max-width: 570px;
  }

  .features__texts {
    width: 100%;
    margin-top: 0;
    text-align: left;
  }

  .features__subtitle {
    font-size: 2rem;
  }

  .features__cta {
    display: inline-block;
  }

  /*Download*/

  .download__title {
    font-size: 2.5rem;
    color: var(--Very-Dark-Blue);
  }

  .download__container {
    width: 100%;
    max-width: unset;
    margin: 4rem auto 0;
    padding: 0 2rem;
    gap: 2rem;
    flex-direction: row;
    align-items: flex-start;
  }

  .download__item {
    flex: 1;
  }

  .download__item:nth-child(2){
    margin-top: 2rem;
  }

  .download__item:nth-child(3){
    margin-top: 4rem;
  }

  /*Questions*/

  .article__title {
    font-size: 2.7rem;
  }

  /*joined*/

  .joined__title {
    font-size: 2.5rem;
  }

  .joined__form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .joined__input{
    flex: 1;
  }

  /*footer*/

  .footer__container {
    display: flex;
    align-items: center;
  }

  .footer__list {
    display: flex;
    gap: 1rem;
    margin: 0;
    margin-left: 3rem;
  }

  .footer__social {
    margin-left: auto;
  }
}



@media (min-width: 1250px) {

    .hero__main{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .hero__figure{
       grid-column: span 1/-1;
       grid-row: 1/2; 
    }

    .hero__texts{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .features{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .features__content{
        grid-column: 1/-1;
    }

}